[2020-04-29 10:19] jeansevilla opened #1 "The animation restart when scroll"
Hi i am a visual designer, I have a problem with the code, I just want to play the animation and then loop by frame 50 to 250 frame. You can give me an examples for the solution? because I am not a coder. thank you

[code]

[2020-04-29 10:47] karamalie commented on #1
Hey @jeansevilla . Thanks for bringing this up. will fix this bug on the interactivity library. Meanwhile If you re looking to just loop from 50 to 250  you can replace the entire code block with the code block below.

[code]

[2020-04-29 11:02] jeansevilla commented on #1
I have tried to replace the entire block, but the animation just disappear... You know why? thank you

[2020-04-29 11:18] karamalie commented on #1
Updated my answer. Give it a try with the new code block and let me know

[2020-04-29 12:20] jeansevilla commented on #1
Okey, now it works, but now the problem is that the animation starts when the page is loaded and not when you view the element, so the initial animation is lost. Do you know why? thank you 👍

[2020-04-29 14:45] karamalie commented on #1
Try this @jeansevilla .  Frame 0 to 50 will sync with the scroll initially. when 30% of the Lottie is visible. (0.3 in the visibility) . and then it will loop from 50 to 250.

[code]

[2020-04-29 15:06] jeansevilla commented on #1
Hi, it doesn't work every time I scroll the animation restarts, I put the video here, also there is another problem the animation trembles.

[problem.zip](https://github.com/LottieFiles/lottie-interactivity/files/4552478/problem.zip)

[2020-05-26 14:51] mingeunoh6 opened #3 "Uncaught ReferenceError: LottieInteractivity is not defined"
Hello!
I am trying to follow the instruction to control lottie json animation with mouse x-position,
I set up the lottie player with script in the head
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

and place lottie-player element in the HTML DOM, that worked smoothly. Animation showed up. And I installed lottie interactivity via npm and tried to

[2020-05-26 15:01] mingeunoh6 commented on #3
I think the problem was the location of my index.html. After revise the head script link directory that error dosent showed up but another error is occur.

**DevTools failed to load SourceMap: Could not load content for https://unpkg.com/lottie-player.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE**

[2020-05-29 06:11] wlex-club commented on #3
the same problem

[2020-05-29 06:13] karamalie commented on #3
could you post some snippets of your code @vle326 and also is this the error you are running into. just to confirm

DevTools failed to load SourceMap: Could not load content for https://unpkg.com/lottie-player.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2020-05-29 07:27] wlex-club commented on #3
ok I use this in vue template @karamalie
[code]

so in the console some error like this:

[Vue warn]: Error in created hook: "TypeError: _lottiefiles_lottie_interactivity__WEBPACK_IMPORTED_MODULE_1__.default.create is not a function"

[2020-05-29 09:24] karamalie commented on #3
[code]

Try referring to the above code @vle326 . In libraries such as vuejs and reactjs import the library as follows
`import { create } from '@lottiefiles/lottie-interactivity' `
will update the documentation with some examples

Move the method to be inside of the mounted lifecycle method rather than the created method. Moreover in react/vue the component renders before the Lottie itself renders

[2020-06-01 07:32] wlex-club commented on #3
Got it , I will have a try, and i have another question -- how to run local data json , not by url
for example:
[code]
@karamalie  Thanks a lot

[2020-06-01 08:08] karamalie commented on #3
@vle326  for vuejs. place the json file in the root of the public folder and you should be able to link it like this

public folder structure
- public
   - data.json
[code]

construct it as a url if you are using a url.

the other way is to read the json file as json string and then pass the json string to src. or parse the json file as a json object and then pass it to src. moving to the public f

[2020-06-10 07:11] jamespurnama1 opened #4 "Cannot Create Property 'loop' on String"
I am getting an error with [this Lottie Player](https://github.com/airbnb/lottie-web) (which was mentioned to be compatible in the README). I currently need to use this player to adjust the SVG ViewBoxSize.

`Cannot create property 'loop' on string '#firstLottie'`

[code]

is there something I did incorrectly or is it a bug?

[2020-06-11 04:48] wplit opened #5 "Cursor Position - on load, start position isn't start frame."
When I am syncing the animation with the cursor movement, say with the code below, shouldn't the animation be frozen at frame 20 until the cursor is over the animation?

`LottieInteractivity.create({
  player: '#firstLottie',
  mode: 'cursor',
  actions: [
    {
      position: { x: [0, 1], y: [0, 1] },
      type: 'seek',
      frames: [20, 100],
    },
  ],
});`

[2020-06-11 05:22] karamalie commented on #4
could you try passing the Lottie animation object in as you re using that lottie player
[code]

[2020-06-11 05:26] karamalie commented on #5
You re right @wplit . looking into it.

In the meantime while i prep a new build, a quick hack would be to call the player.goToAndStop(frame,true) method and move the frame before the interactivity library is called but after the Lottie animation has loaded

[2020-06-11 06:34] jamespurnama1 commented on #4
Awesome! it works as intended. Thanks for helping.

[2020-06-11 06:35] jamespurnama1 commented on #4
Awesome! It works as intended. Thanks for helping.

[2020-06-11 06:35] #4 closed

[2020-07-10 00:41] MatiMenich commented on #1
Hi! I'm having the same problem, is there any news about this? Thanks!

[2020-07-10 01:18] MatiMenich commented on #1
I've forked the repo and appears to be fixed on the latest commit, but it seems this fix is not reflected on the npm package.

[2020-09-01 15:32] davist11 opened #7 "Animation jumping on iOS"
[code]

We are using using lottie scroll relative to a container, and I'm seeing an issue where the animation is jumping on iOS. The container is `400vh` and the `<lottie-player>` is `100vh`. I can throw a background color on the `<lottie-player>` and confirm it takes up the entire screen height.

![IMG_658B4D47A9A3-1](https://user-images.githubusercontent.com/199985/91873224-c4b0ac00-ec46-11ea-93

[2020-09-22 02:57] tenthyoung opened #8 "Animation doesn't trigger based on "container" key in "scroll" mode"
No matter what I set the container to for the id, it's always the same result when I target different ids on my page. Please advise! :)

[2020-09-22 08:27] karamalie commented on #8
Hi @tenthyoung ,

Could i have a look at your implementation. Would be good if you could show the code on a platform such as codesandbox and link it here.

Thank you

[2020-09-25 08:35] rashidpathiyil opened #9 "How to configure with VueJs ?"
I am using lottie-web, how to add lottie-interactivity to this component.

Lottie.vue Component
[code]

[2020-09-28 05:47] karamalie commented on #7
Hi Trevor,

Would it be possible to pass us the Lottie file so we could test it.
Thank you

[2020-09-28 13:52] davist11 commented on #7
Hah that would have been helpful, sorry

https://assets5.lottiefiles.com/private_files/lf30_LCvZZF.json

[2020-09-29 06:02] karamalie commented on #7
Could you have a look at this codesandbox

https://8bz9z.csb.app/

The jump happens in safari because it does not support certain css transforms. To fix it, have a look at the css

[code]

[code]

[code]

The  -webkit-transform: translate3d(50, 0, 0); is key

[2020-11-26 22:07] CryogenicPlanet opened #11 "Proposed change wheel events"
Hey

I really like the library but one proposed change is to allow `wheel` events as another option like `scroll` events.

I can make a good PR for this in a few weeks(just ping me here if I forget) but I can show my hacky solution that I rewrote for a project here https://github.com/CryogenicPlanet/lottie-interactivity

I can also summarize the changes I made if you guys want to make it yourself

[2020-12-03 14:08] ametthey opened #12 "Convert frame in % or px"
I'm trying to make a scrolling event with a lottie interactivity object in a container  within another container. for that I need to "know" the lottie animation height, meaning is there a way to convert the frame in % or px ?

Thanks a lot :)

[2021-01-23 09:33] sam-osb opened #13 "When using horizontal cursor, the animation doesn't start at frame 0"
Using the horizontal scroll functionality, when the cursor moves from left to right the animation seems to start from the middle frame, and not frame 0. It can be seen using this example:

https://lottiefiles.com/interactivity?url=https%3A%2F%2Fassets7.lottiefiles.com%2Fpackages%2Flf20_ltf45w.json#ninth

If you add controls to the lottie-player, you can clearly see the animation doesn't start from

[2021-01-28 18:07] hadyto opened #14 "The released tarball has a weird permission issue that prevents the unzipping of the dist/ folder"
I ran into a weird issue while trying to download and unzip the tarball file of the release 0.1.3 of this package.

To download the tarball file I ran

[code]

That command downloaded the file `lottiefiles-lottie-interactivity-0.1.3.tgz` as expected. Here's the full output of the command:

[code]

However, the issue starts when I try to unzip the tarball. I ran this command to unzip

[code]

This

[2021-02-09 07:00] #7 closed

[2021-02-09 07:00] #5 closed

[2021-02-09 07:00] karamalie commented on #1
Fix has been implemented in newer versions.

[2021-02-09 07:00] #1 closed

[2021-02-09 07:01] #3 closed

[2021-02-16 17:35] tenthyoung opened #15 "Safari and Firefox animation flickers"
I made an on-scroll animation, where one of our products will slowly close as you scroll down a page.

I have about 120 images that I converted to a JSON file and then I uploaded to lottiefiles. I did the whole process in React, and everything works fine for all browsers, except Safari and Firefox.

The animation will flicker (like some images are failing to render), and then after going up and do

[2021-03-07 16:02] BoDonkey opened #16 "Still being maintained?"
As the title says, is this still being maintained?

[2021-03-09 09:17] karamalie commented on #16
It is yes :)

[2021-03-10 10:43] BoDonkey commented on #16
Thanks!

[2021-03-10 10:45] BoDonkey commented on #13
I notice I have this problem when I have the end frame number wrong. It goes through the first few frames so fast it seems like it starts in the middle.

[2021-03-11 05:32] karamalie commented on #13
This issue is being worked on. Will update once completed

[2021-03-15 07:27] karamalie commented on #13
Fixed on package "version": "0.1.4"

[2021-03-15 07:27] #13 closed

[2021-03-17 17:19] chriskightley92 opened #17 "Actions type: play loops the animation when lottie player loop prop = false"
So using the below code as an example, you can see that the action type is set to play. When the container comes into view, i'd just like the animation to play once and then end.

[code]

However once the container comes into view, it just loops instead. Apologies if i've not set this up correctly as per documentation, but just needed to make sure this wasn't in fact an issue.

Thanks

[2021-03-23 00:51] curavcy opened #18 "Using Next.js (SSR) Having a window is not defined error."
If anyone can help with this or had issue in the pass ?
Thank you

[code]

[2021-03-24 03:32] cisco-lottie opened #19 "Any Example for React ?"
Hi, I couldn't figure that out why it is not working. If there any solution please share with me.

`Unhandled Runtime Error
TypeError: Cannot read property 'addEventListener' of null`

[code]

[2021-03-24 03:35] #18 closed

[2021-03-26 13:10] jambelly22 commented on #17
I have the same issue. Would be great if the animation could stop/pause at its last frame as I'm using multiple lottie animations on the page and I don't want them all running at once.

[2021-04-05 07:58] #16 closed

[2021-05-08 21:16] maximebeguin opened #20 "Animation won't work when the container is set to position sticky"
As the title mentioned, I'm not able to apply the animation of the lottie file on scroll when the container is set to position fixed or sticky.  While it works great on a "normal" container, as soon as the lottie file hits the sticky point, the animation will stop even if I continue to scroll. Any idea how to solve this?

[2021-05-26 22:04] jcpux opened #22 "lottie-player.js.map not loading"
![image](https://user-images.githubusercontent.com/25985758/119736575-c3f22280-be32-11eb-9fb6-e6c248c2d3d3.png)

My page is not able to create LottieInteractivity settings... and is getting a 404 trying to load https://unpkg.com/lottie-player.js.map (which I presume is being requested by lottie-player.js)

I've got this in the body before any of the animations:
`<script src="https://unpkg.com/@lot

[2021-05-27 00:02] jcpux commented on #22
This is looking like a repeat of https://github.com/LottieFiles/lottie-interactivity/issues/3

[2021-05-27 00:02] #22 closed

[2021-06-10 11:49] findorf commented on #9
This is my Vue 2 component using TypeScript decorators, hope that you can use it as inspiration:
[code]

[2021-06-18 01:52] #14 closed

[2021-06-18 01:52] #15 closed

[2021-06-18 01:52] #11 closed

[2021-06-18 01:52] #12 closed

[2021-06-18 01:52] #8 closed

[2021-06-22 12:36] samuelOsborne commented on #19
Hi @cisco-lottie, you can check out the working example code for React in this [codepen](https://codepen.io/Osbro/pen/LYWoBwv). If you're problem is still occurring could you please open another issue?

[2021-06-22 12:36] #19 closed

[2021-06-23 11:38] samuelOsborne commented on #20
Hi @maximebeguin

With lottie-interactivity you can do a scroll effect relative to a container, so you can have a sticky element but use the container underneath. I've made a codepen to [show you](https://codepen.io/Osbro/pen/vYxqxjG)

Related documentation: https://github.com/LottieFiles/lottie-interactivity#scroll-effect-relative-to-container

Here I set the container to the id of my text, so wh

[2021-06-26 01:44] #17 closed

[2021-06-27 19:08] shivanishimpi commented on #18
@curavcy did you figure it out?

[2021-06-28 10:12] samuelOsborne commented on #9
Hi @rashidpathiyil I've added a usage example for Vue in the [README](https://github.com/LottieFiles/lottie-interactivity#32-vue-config)

I think in your case, since you're using lottie-web and not the LottieFiles lottie-player you don't have to listen for the 'DOMLoaded' event like in the example, and can just do:

[code]

In the mounted hook.

Let me know if you need any further assistance.

Che

[2021-06-29 12:32] github-actions[bot] opened #28 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-06-29 12:57] #28 closed

[2021-07-01 10:08] #9 closed

[2021-07-02 07:10] #20 closed

[2021-09-17 13:15] strel9 commented on #18
@shivanishimpi @curavcy  did you figure it out?

[2021-09-27 23:46] shinyatentree opened #36 "type=seek doesn't go back to the beginning of the animation"
## Overview

I am trying to set up the type=seek and I can't get the animation go back to the beginning of the animation when you scroll up to the beginning of the page. If you go to [this page](https://lottiefiles.com/interactivity?url=https%3A%2F%2Fassets3.lottiefiles.com%2Fprivate_files%2Flf30_2c7wnifx.json) the animation doesn't go back to the beginning as you scroll up to the top of the page.

[2021-09-28 09:21] samuelOsborne commented on #36
Hi @shinyatentree, the animation in that part of the page won't go to frame 0 because 70% of it is still visible even though you're at the top of the page and can't scroll any higher. If you go down the page a bit and find the 'sync lottie with scroll' section, you can see that as you scroll up and just a little bit of the animation is left (only the head peeking through) the animation will be at

[2021-09-28 13:32] tentree-development commented on #36
This implementation is not really suit for the full page Lottie animation like the following:
https://lottiefiles.com/interactivity?url=https%3A%2F%2Fassets7.lottiefiles.com%2Fprivate_files%2Flf30_xjt8yn4d.json

Can you take a look some implementation on another lottie javascript plugin like scrolll magic? https://codepen.io/jama1017/pen/ROymbz

[2021-09-29 09:58] samuelOsborne commented on #36
@shinyatentree I think I see now what you're asking for. Currently the library doesn't have the ability to pin an animation so that we can scroll and keep the animation visible like the robot example you shared, but this would be interesting to add in the future!

[2021-09-29 10:04] samuelOsborne commented on #36
@shinyatentree In the meantime, I think this was what you were looking for with your coffee animation:

https://codepen.io/Osbro/pen/JjJxymX

[2021-09-29 10:08] tentree-development commented on #36
Thanks!

[2021-09-29 10:11] #36 closed

[2021-10-01 14:55] ajayJayapalan commented on #13
Can anyone please tell me the meaning of  position y values. [ -1, 2].

Is position of x and y = -1 means outside the container ?

[2021-10-20 23:28] wplit opened #40 "Add a destroy() or refresh() so we can change the interactivity after it's been created"
## Overview

There doesn't seem to be a way to create a new instance with new interactivity settings once they've already been applied. It would be great to have a refresh or destroy so new interactions can be added to existing.

Use case; I'm trying to add inside Vue app, need to be able to switch between scroll / click. Following the instructions on adding on mounted works great, but if I try to

[2021-10-25 06:48] samuelOsborne commented on #40
Thanks @wplit for the suggestion! Will look in to implementing this :-)

[2021-10-29 08:29] NaNostyle commented on #18
What do you mean by configuring ? @curavcy  @strel9

[2021-10-29 13:19] robdekort opened #41 "Asking for help implementing this with AlpineJS"
## Overview
This is probably not a bug but me implementing this wrong. I use AlpineJS to init a lottie animation with `lottie-web`. This works fine. But as soon as I try to make it interactive (in this case on scroll), I'm running into this error:

[code]

I can't figure out what I'm doing wrong. Hoping someone can enlighten me. Thanks in advance.

## Code
[code]

[2021-11-04 20:28] robdekort commented on #41
Solved this by looking at the react documentation.

[code]

[code]

[2021-11-04 20:28] #41 closed

[2021-11-16 08:53] samuelOsborne commented on #40
Hi @wplit this has been implemented in the latest version of lottie-interactivity, the method to use is "redefineOptions" and can be called the same way you call the "create" method.

Usage example:

https://codepen.io/Osbro/pen/WNEYYQa

[2021-11-23 09:40] wplit commented on #40
@samuelOsborne Ah amazing! Will try this straight away, thanks so much for adding it in.

[2021-12-04 00:31] paperbeatsscissors opened #46 "this.player.addEventListener is not a function error"
## Overview

I have the Lottie library working on my site, but when I try to incorporate Lottie Interactivity I get the above error.

I'm loading the library via CDN:
[code]

and here's the instance:

[code]

Any idea what might be causing this?

...

## Consuming repo

...

## Labels

- [x] Add the `Type: Bug` label to this issue.

[2021-12-06 07:55] samuelOsborne commented on #46
Hi @paperbeatsscissors. This error usually occurs when you use a player id that can't be found in the DOM. Have you given your lottie-player an id of "insight" ?

[2021-12-06 19:17] paperbeatsscissors commented on #46
@samuelOsborne yes, sorry, it was an error on my part! I think the function was executing before the library loaded - a DOM ready check solved it. Thank you!

[2021-12-06 19:17] #46 closed

[2021-12-08 09:16] Astra-001 opened #47 "Animate specfic point to animate on scroll not all elment"
## Overview

...
let obj = LottieInteractivity.create({
      mode: 'scroll',
      player: '#firstLottie',
      container: "#dekstop-lottie",
      actions: [{
      visibility: [0, 5],
      type: "stop",
      frames: [0,160]
    },
    {
      visibility: [0.2, 0.45],
      type: "seek",
      frames: [0, ]
    },
    {
      visibility: [0.45, 1.0],
      type: "loop",
      frames: [160, 30

[2021-12-08 10:57] samuelOsborne commented on #47
Hi @Astra-001 , I don't understand what this feature request would do, could please elaborate with more detail?

Thanks

[2021-12-11 17:48] me-dira opened #48 "Question: implement `lottie-interactivity` with `angular`"
## Overview
Hey guys,
I'm using Lottie package in angular without any problem but I'm started to looking for something to use your `lottie-interactivity` in my project but sadly there was no way that I can implement this.

Please if anyone can help me ? I relay need to use this package into my project.
...

## Type

- [x] New feature
- [ ] Changes to existing features

## Motivation

Using this pa

[2021-12-11 19:50] mehdi-ra commented on #48
There is an problem with package in getting the player from the selector.
In your code you try to get Lottie player instance with `getLottie` method but there is a problem in getting this when Im using `lottie-player` inside my angular project as custom schema as your example:
[code]
Its working and I don't have any problem but, when I want to use that with my custom JS script I get this error:
[c

[2021-12-11 20:09] mehdi-ra commented on #48
I thing i find out the problem.
Angular sets the _lottie element 1 seconds after and updates the _lottie and as default its null when your package runs as synchronize. then you return the player null and this is the cause of problem. but there is any help to prevent this ?

[2021-12-11 20:43] mehdi-ra commented on #48
I close this issue because i think there should be another package provided for angular to make this working and without this conversation is unnecessary. but for who needs to know, use `ngx-lottie` and use its `goAndStop` method to sync your scrolling with animation frames.

[2021-12-11 20:43] #48 closed

[2021-12-21 18:47] Brodski opened #49 "`Type: Bug` Cursor mode not working on chrome mobile"
Hello,

On Chrome, if I try to sync the animation with the user's cursor then the animation won't play. Steps:

1. Choose a chrome browser on mobile, eg
   a) Chrome browser on Android Pixel
   b) Use the the google chrome desktop web browser and select the Responsive testing feature in chrome's web dev tools
2. Go to the hamster here https://lottiefiles.com/interactivity#ninth
3. Hold left click

[2021-12-23 10:52] patratel commented on #40
Hello, following up on this , would it be possible to add a destroy event also? I need it in order to avoid errors when i remove element from the DOM in my Vue application

[2021-12-30 06:10] Brodski commented on #49
Hi guys, I fixed this (in a way). I made it work for mouse movements on the X axis. I"m sure you can translate this to Y, or X+Y.
[code]

[2022-01-04 05:33] nealwright opened #50 "Implement Horizontal Scrolling Support"
## Overview

It would be useful to implement horizontal scrolling support in addition to vertical scrolling support

...

## Type

- [X] New feature
- [ ] Changes to existing features

## Motivation

I'm working on a website which features a horizontal scrolling navigation with animations triggered by the horizontal scrolling. While libraries such as green socks support animation triggered by hori

[2022-01-04 10:13] samuelOsborne commented on #50
Thanks for the feature request @Hendeca !
This seems like an interesting feature and will add it to the roadmap. Thanks! :-)

[2022-01-04 10:22] samuelOsborne commented on #40
Hi @patratel, if you're removing the element from the DOM and using the lottie-player, you can listen to the 'destroyed' event:

https://github.com/LottieFiles/lottie-player/blob/master/src/lottie-player.ts#L341

I say this because lottie-interactivity won't be aware that you've removed the player from the DOM, you should look in to the documentation of the player you're using to see which event y

[2022-01-04 12:08] samuelOsborne commented on #49
Thanks for the ticket @Brodski , I'll look in to a fix for this.

[2022-01-05 09:42] samuelOsborne commented on #40
Closing this issue as the "redefineOptions" method has been implemented.

[2022-01-05 09:42] #40 closed

[2022-01-05 09:42] samuelOsborne commented on #47
Closing due to inactivity.

[2022-01-05 09:42] #47 closed

[2022-01-05 10:19] samuelOsborne commented on #49
Thanks for this @Brodski , I'll work on making more of the library's interactions work better for mobile in the future, cheers!

[2022-01-05 10:19] #49 closed

[2022-01-31 22:06] AntonioXIII opened #55 "Segment Play on Scroll Action"
## Overview & Motivation

I wanted to play only a portion of an animation when the animation became visible to a user. The following code, based off your examples, allowed me to play the entire animation:

[code]
**However**, I wanted to play only a portion of the animation. It would be nice if, like in other modes, I could specify a `frames` option or add a `segmentPlay` type so that I could spec

[2022-02-01 10:51] samuelOsborne commented on #55
Hi @AntonioXIII, thanks for making this issue, it should be fixed in the latest version v1.3.4, cheers!

[2022-02-01 21:11] AntonioXIII commented on #55
@samuelOsborne Wow, incredible turn-around time! Thank you very much!

[2022-02-01 21:11] #55 closed

[2022-02-15 12:58] grogou opened #58 "Scroll event not fire in React"
Hi there.

I am creating the integration of lottie in our wordpress plugin.
The wordpress editor is react app, so the problem is the scroll event is not fire.
Can you help me with this, is it bug or no?

Thank you very much.

[2022-02-15 13:20] grogou commented on #58
Or can we add 3rd parametr `true` for listener. `    window.addEventListener('scroll', this.#scrollHandler, true);`
It will help on react.

[2022-02-15 13:46] samuelOsborne commented on #58
Hi @grogou,

Scrolling on react apps seems to work on my end, I've made this code sand box to show you how I set up playing on scroll with the second lottie:

https://codesandbox.io/s/lottie-react-direction-test-ysj6p?file=/src/App.js

This is using our lottie-react player available here:
https://github.com/LottieFiles/lottie-react

[2022-02-15 13:59] grogou commented on #58
@samuelOsborne I am using non react lib in my app, is it the problem?

[2022-02-15 14:02] samuelOsborne commented on #58
For the player @grogou ?

[2022-02-15 14:04] grogou commented on #58
Yes.

[2022-02-15 14:05] samuelOsborne commented on #58
@grogou which player are you using? Can you link please. And share a snippet of your implementation

[2022-02-15 14:09] grogou commented on #58
[code]

[2022-02-15 14:10] grogou commented on #58
Sorry for big part code I removed unnecessary  parts.

[2022-02-15 14:22] grogou commented on #58
@samuelOsborne I think the problem is my envirment, when I manual add

[code]

it is not working, but when I add `true` as 3rd param it works.

[code]

[2022-02-15 14:44] samuelOsborne commented on #58
@grogou Could you try adding the lottie variable to the useEffect array at the bottom, to make sure the Lottie ref isn't null inside of useEffect

[code]

[2022-02-15 14:46] grogou commented on #58
@samuelOsborne yes sure will try it.

But I found article about this problem on wordpress

https://make.wordpress.org/core/2021/06/29/blocks-in-an-iframed-template-editor/

It is the iframe problem

[2022-02-15 14:47] grogou commented on #58
The interesting part is `But what if the library is using the global window or document and it’s out of your control?`

[2022-02-15 14:50] grogou commented on #58
It's not working.

[2022-02-15 14:52] grogou commented on #58
And I can share with you the Wordpress developer comment on this problem

https://github.com/WordPress/gutenberg/issues/38692#issuecomment-1035091059

Sorry for me and my questions, but this is interesting case.

[2022-02-15 15:26] samuelOsborne commented on #58
@grogou have you tried out what they recommend in the meantime?

"<p style="box-sizing: border-box; margin: 0px 0px 1.2em; padding: 0px; overflow-wrap: break-word; border: 0px; font-family: &quot;Open Sans&quot;, sans-serif; font-size: 1.05em; font-style: normal; font-weight: 400; outline: 0px; vertical-align: baseline; line-height: 1.6; color: rgb(85, 85, 85); font-variant-ligatures: normal; font

[2022-02-15 15:29] grogou commented on #58
I am trying, but still can't understand how to use lottie on it.

[2022-02-15 15:38] samuelOsborne commented on #58
@grogou I've just noticed, could you also try swapping out the 'load' event to 'ready':

[code]

 and see how that goes

[2022-02-15 15:41] grogou commented on #58
Ah oki, the problem is that 3rd parametr, https://github.com/facebook/react/issues/5042 the React issue. Could you able to add it to lib in new version, or ownerDocument implementation? It can be helpful for me and guys similar me, because the wordpress community can do nice things with this repo. If you need I can mention wordpress devs, in our distinction. they say `Feel free to contact us to me

[2022-02-15 15:51] grogou commented on #58
Not working (:

[2022-02-15 15:55] samuelOsborne commented on #58
@grogou Will look in to including this in a new version, I'll keep you updated

[2022-02-15 16:00] grogou commented on #58
@samuelOsborne thank you very much for your help. I will try to add notice in my plugin about issue, until problem will be fixed. Have a good day and thank you again.

[2022-02-17 10:59] grogou commented on #58
@samuelOsborne thank you very much for this fix. And one more question. Is it related bug for me, when I change `url` variable and `src` attribute got rendered with new url why my lottie player play old lottie?

[2022-02-17 12:30] samuelOsborne commented on #58
Hi @grogou I've pushed up a beta package on npm:

https://www.npmjs.com/package/@lottiefiles/lottie-interactivity/v/1.3.4-beta.0

can you let me know if this resolves your issue please.

For your second questions, I'm not sure what you mean, could you explain to me again please?

[2022-02-17 12:34] grogou commented on #58
Thank you, will check it now.

About second question.
![image](https://user-images.githubusercontent.com/10712881/154482636-110f2658-dbb5-4778-8de0-a047d51fb189.png)

When url state changed and component get rerendered with new url, lottie still animate old one.

[2022-02-17 12:44] grogou commented on #58
It is still not working becouse of this 3rd param in listener I guess.
https://github.com/WordPress/gutenberg/issues/38692#issuecomment-1035091059
![image](https://user-images.githubusercontent.com/10712881/154484425-e1579a14-8490-479d-b249-a22f3e96b36f.png)

[2022-02-17 12:57] samuelOsborne commented on #58
@grogou I've added use capture to this version, please let me know if it works for you:

https://www.npmjs.com/package/@lottiefiles/lottie-interactivity/v/1.3.4-beta.1

[2022-02-17 13:10] grogou commented on #58
I can't find any new examples, is it same doc?

[2022-02-17 13:15] samuelOsborne commented on #58
@grogou yes, use scrolling the same way you did before, I've added useCapture internally on the scroll listener

[2022-02-17 13:19] grogou commented on #58
@samuelOsborne yes it's works now, thx very much you best)))

[2022-02-17 13:19] samuelOsborne commented on #58
@grogou Great, I'll push this in to the master branch and release soon, I'll ping you here and close the issue

[2022-02-17 13:20] grogou commented on #58
And about second question. Is thery a way to destroy current lottie after lottie src change and reinit it.

[2022-02-17 13:24] grogou commented on #58
@samuelOsborne because of I changed lottie url, but it is still play old one.

![image](https://user-images.githubusercontent.com/10712881/154490654-a43e065a-0332-43a9-baea-359bf92e7beb.png)

[2022-02-17 13:24] samuelOsborne commented on #58
@grogou Yes, on the lottie-player, there is a destroy() method available

[2022-02-17 13:25] samuelOsborne commented on #58
@grogou In which case do you need to change the URL of the lottie? It might be possible with lottie-interactivity directly

[2022-02-17 13:29] grogou commented on #58
@samuelOsborne I have integration of your lib in my wordpress contructor and use case is when user need to change lottie in editor.
![image](https://user-images.githubusercontent.com/10712881/154491534-fee97e10-e229-416e-9bd7-415bb36e1bd2.png)

[2022-02-17 13:30] grogou commented on #58
Can I change url with `redefineOptions` ?
![image](https://user-images.githubusercontent.com/10712881/154491711-72d8f11c-c0be-4f4e-b47c-d34e59034d27.png)

[2022-02-17 13:45] samuelOsborne commented on #58
@grogou Yep you can:

[code]

only works with chain mode though.

Otherwise the lottie-player element can be called with the destroy method

[2022-02-17 13:48] grogou commented on #58
@samuelOsborne thank you, will do it.

[2022-02-17 14:17] samuelOsborne commented on #58
@grogou I've merged, this is out in version 1.3.5.

Cheers, closing this now.

[2022-02-17 14:17] #58 closed

[2022-02-18 06:34] grogou opened #63 "Interactivity crashed after lottie-player destroy."
After lottie destroy I got this `this._cbs is null` error in console.

Is there a way to destroy interactivity with lottie, and after create new one?

[2022-02-18 07:06] grogou commented on #63
This error happens when player mode is `chain` but when mode is `scroll` the error is `this.player.addEventListener is not a function`

[2022-02-18 08:52] samuelOsborne commented on #63
@grogou You can call the stop() method after destroying your Lottie animation

[2022-02-18 08:54] grogou commented on #63
Yes I do stop, after that destroy, the problem is same.

[2022-02-18 08:56] grogou commented on #63
Can I help you implement path option on redefineOptions function to do it?

[2022-02-18 08:58] samuelOsborne commented on #63
@grogou Looks like I don't remove scroll listener when calling stop(), my bad!

I'll look in to implementing that yeah! Its a good addition, thanks.

[2022-02-18 08:59] grogou commented on #63
If I can help you with implementation tell me. Thank you again))

[2022-02-18 08:59] samuelOsborne commented on #63
@grogou Sorry I just looked at the code and refreshed, you can currently re-define a player with redefineOptions.

It works the same was as the create method!

[2022-02-18 10:43] grogou commented on #63
@samuelOsborne idk why but I still get same error.

On photo actions array for redefineOptions.

![image](https://user-images.githubusercontent.com/10712881/154667619-d9bb93c5-20a2-4dff-a9e1-2d34bfe9a49a.png)

[2022-02-18 12:53] grogou commented on #63
@samuelOsborne I think the problem is https://github.com/LottieFiles/lottie-interactivity/blob/31ff4670b52dc7d3430edaa92a9270dcc100b393/src/main.js#L178 line where we save player, will we need to destroy old instance and create new one if path is defined in actions?

[2022-02-21 08:08] grogou commented on #63
@samuelOsborne any change?

[2022-02-21 08:30] samuelOsborne commented on #63
@grogou Looking in to it today.

[2022-02-21 08:37] grogou commented on #63
@samuelOsborne thank you.

[2022-02-21 12:46] samuelOsborne commented on #63
@grogou Can you try it out with v1.3.6?

https://www.npmjs.com/package/@lottiefiles/lottie-interactivity/v/1.3.6

Let me know how it goes, cheers.

[2022-02-21 13:38] grogou commented on #63
@samuelOsborne it works, but only for chain mode, when I do it with scroll mode browser get crashed under infinite loop.

[2022-02-21 13:39] grogou commented on #63
Ah sorry loop is my fault. Under scroll mode it just didn't change lottie

[2022-02-21 13:40] samuelOsborne commented on #63
@grogou Can you share what your code looks like please + the destroy and stopping parts

[2022-02-21 13:42] grogou commented on #63
@samuelOsborne sure, but may I need to destroy player? It works without destroy under chain mode.

[2022-02-21 13:43] samuelOsborne commented on #63
@grogou No you don't have to destroy, redefineOptions just changes the player and interactions you want with it. Destroying is up to you

[2022-02-21 13:45] grogou commented on #63
`actions` array for redefineOptions

[code]

[2022-02-21 13:45] grogou commented on #63
Ye I did without stop or destroy

[2022-02-21 13:48] samuelOsborne commented on #63
@grogou Ah I see the problem. Setting the path like that is only supported in chain mode. I think in your case you have to load a new lottie-player element, and call redefine options on the newly created player. And then destroy the old one

[2022-02-21 13:53] grogou commented on #63
@samuelOsborne yes, anyway I need to clear old options for new lottie. Thank you again for your support. If you interested I can share with you that wordpress plugin when I will finish. So have a good day and cheers.

[2022-02-21 13:55] samuelOsborne commented on #63
@grogou It would be great to get more info on what you're building, feel free to join the discord if you want to keep in touch:
https://lottiefiles.com/discord

Can also send my an email at:
sam@lottiefiles.com

[2022-02-21 14:00] grogou commented on #63
@samuelOsborne nice thanks, I will.

[2022-02-21 14:01] #63 closed

[2022-02-22 07:49] grogou opened #65 "`this.container is undefined` after redefineOptions"
After redefineOptions when interactivity destroy and recreate player, the `load` event listener callback called second time, all is good with player it works as expected, but we have an `this.container is undefined` error on console.

[2022-02-22 08:08] samuelOsborne commented on #65
@grogou Looking in to this, in the mean time if you can share code that'd be great, cheers 🙌🏻

[2022-02-22 08:13] grogou commented on #65
[code]

[2022-02-22 08:31] samuelOsborne commented on #65
@grogou Do you want load to be called twice or is that a problem ? If its a problem you can do:

[code]

[2022-02-22 08:33] grogou commented on #65
@samuelOsborne it is the problem, yes I will try this, thank you, is it come frome my side? Just interesting case I guess. Anyway thank you.

[2022-02-22 08:34] samuelOsborne commented on #65
@grogou Well since you're recreating the player a second time the event will be fired again.

Im trying to understand the flow you have, is it like this:

?

[2022-02-22 08:38] grogou commented on #65
@samuelOsborne yes somthing like that. Your suggestion worked. I think after recreate the lottie ref got changed and when I try to remove that listener nothing happen. So the problem in my opinion is that wrong lottie ref. But your suggestion fix it. We can close this ticket I guess. Thank you very much again, you best))

[2022-02-22 08:39] samuelOsborne commented on #65
@grogou 🙌🏻

[2022-02-22 08:39] #65 closed

[2022-03-22 12:52] iroshiva opened #68 "Set Lottie Interactivity JS"
Hi !

I tried setting lottie-interactivity as described on your site https://lottiefiles.com/interactivity

- npm install --save @lottiefiles/lottie-interactivity
- npm install --save @lottiefiles/lottie-player

In a file lottie.js

[code]

Got this error message: `"_lottiefiles_lottie_interactivity__WEBPACK_IMPORTED_MODULE_1__.LottieInteractivity.create is not a function"`

Search and did:
`impor

[2022-03-22 13:31] samuelOsborne commented on #68
Hi @iroshiva, it's because we export the create method:

[code]

So thats why your first code doesn't work but when you import ```create``` it does.

Hopefully I anwsered your question, feel free to ask more if you have any.

Cheers

[2022-03-23 11:54] iroshiva commented on #68
Aaallright !

Should maybe be part of the tutorial when using lottie interactivity from npm / yarn ?

Thx

[2022-03-23 12:07] samuelOsborne commented on #68
@iroshiva Which tutorial would that be ? In our readme we have examples for React and Vue:
https://github.com/LottieFiles/lottie-interactivity#31-react-config

[2022-03-24 17:57] iroshiva commented on #68
@samuelOsborne ,

That one, for people not using React or Yarn.

https://lottiefiles.com/interactivity

[2022-03-25 06:44] k3lv1n90 opened #69 "Animate when visible does not loop"
## Overview

When using animate when visible, the lottie file plays only once and does not loop even if we used the loop data-attribute
This is an example taken from https://docs.lottiefiles.com/lottie-interactivity/animation-modes#animate-when-visible
https://codepen.io/mdavid1/pen/zYPGJzL
You'll need to add 'loop' somewhere in the <lottie-player> tag

## Consuming repo

Lottie-Interactivity
...

[2022-03-26 22:20] johndpope opened #71 "how to change on keyboard typing.... (not scrolling)"

[2022-03-28 00:19] k3lv1n90 commented on #69
I've resorted to adding an if condition so that it will loop when it is visible
[code]

else

[code]

[2022-03-28 08:57] samuelOsborne commented on #69
Hi @k3lv1n90, the usual way to have it loop when visible is like this:

[code]

so with mode: 'scroll' and type: 'loop' it'll loop when it becomes visible.

If you're solution works than thats great too, let me know if I can clear anything up for you! But if its all good then I'll close this issue :-)

cheers!

[2022-03-28 08:58] samuelOsborne commented on #71
Hi @johndpope currently this is not a functionality of this library.

If you would like a new feature, please create a 'new feature' request rather than an issue and detail how you would like it to work!

Thanks :-)

[2022-03-28 08:58] #71 closed

[2022-03-28 08:59] samuelOsborne commented on #68
Ok thanks @iroshiva will pass it on!

[2022-03-28 08:59] #68 closed

[2022-03-28 12:02] k3lv1n90 commented on #69
yeah I figured it out, just a bit weird that the player does not take into consideration the loop data-attribute

[2022-03-28 12:02] #69 closed

[2022-04-12 15:18] toddpadwick opened #75 "Can't seem to get lottie player with interactivity working in vue component"
## Overview
I am trying to use lottie player with interactivity in a vue component. As Im using Nuxt, I have lottieplayer imported via nuxt plugins on clientside, and that works fine alone. The player can run the animation as normal, but what I can't figure out is how to get the interactivity to work. I have followed the example in the docs and set it up as below. But the load event doesn't fire.

[2022-04-12 15:24] samuelOsborne commented on #75
hey @toddpadwick, could you try replacing the 'load' event with 'ready' ?

[2022-04-12 15:36] toddpadwick commented on #75
Thanks @samuelOsborne that seems to have solved the loaded issue. but I am now getting a new issue:

![Screenshot 2022-04-12 at 17 32 37](https://user-images.githubusercontent.com/36191462/162999846-bb05e7dc-c96e-4f08-a093-652166f3ba63.png)

FYI, what I am trying to achieve is the following:
- on load, loop segment 1 for 2 seconds, then loop segment 2 for 2 seconds, then loop segment 3 for 2 secon

[2022-04-12 16:39] samuelOsborne commented on #75
@toddpadwick Im having trouble recreating this error, are you using the latest version of Lottie-Interactivity?

For your second point, the library doesn't support playing segments for X amount of seconds, only when they're finished or for a certain amount of frames. However I just added the nextInteraction() and jumpTo(index) methods which give you full control over which actions you want to use

[2022-04-12 16:51] toddpadwick commented on #75
Okay, so I've updated it to try a chain event and updated to latest player and lottie interactivity. now using this code:
[code]

But I am getting this error:
![Screenshot 2022-04-12 at 18 49 55](https://user-images.githubusercontent.com/36191462/163013697-0a266d46-b61b-4ca9-b969-c0225b07aad8.png)

I don't know where it's got 'undefined.json' from. If I remove the on load function, the json loads

[2022-04-12 16:57] samuelOsborne commented on #75
@toddpadwick your whole process.client code needs to be in the mounted() hook, hopefully that should resolve the issue. Someone else had this on the lottie-player repo

[2022-04-12 16:58] toddpadwick commented on #75
Oops sorry, it is, I just copied and pasted it wrong. I've just updated the code snippet above.

[2022-04-12 17:15] samuelOsborne commented on #75
@toddpadwick Solved it on my end by wrapping the lottie-player with <client-only>

[code]

Let me know if it works on your end

[2022-04-12 17:20] samuelOsborne commented on #75
Ah, this removes the error but then we don't have the ref on the mounted hook..

Is using a URL not possible for the source of the animation?

I was trying to see if using the static folder worked otherwise but haven't gotten a result yet

[2022-04-12 17:21] toddpadwick commented on #75
ah yes I was just commenting the same issue :(
Url didn't seem to work as for some reason it needed to re-parsed as JSON and then applied as a variable.

[2022-04-12 17:23] samuelOsborne commented on #75
Using like this doesn't work?

[code]

[2022-04-13 10:20] toddpadwick commented on #75
Awesome, Its working!! Thank you! Turns out loading the required lottie file from assets wasn't playing ball with <client-only>. So I've instead moved the lottie file to the static folder and loading it the classic way.

I've also got the chaining to trigger the text change event :)
https://stage.thewriter.co.uk/

Thanks for your help.

FYI, for anyone else who needs help - here is my code:
[code]

[2022-04-13 11:44] samuelOsborne commented on #75
Ah it had to be put as the src attribute! Nice one, the site looks great too!

Closing this now, cheers!

[2022-04-13 11:44] #75 closed

[2022-04-19 14:55] alvaro-escalante opened #76 "Wrapping the lottie-player in a section tag makes it disappear"
To reproduce simply go to this page:

https://lottiefiles.com/interactivity

Replace the animation's `div` with  the class `md:w-1/2 text-center mx-auto` with a `section` tag and watch the animation disappear

[2022-04-19 14:57] alvaro-escalante commented on #76
To reproduce simply go to this page:

https://lottiefiles.com/interactivity

Replace the `div` with class `md:w-1/2 text-center mx-auto`  with a `section` tag and watch the animation disappear

[2022-04-19 17:40] EricBeaupere opened #77 "Issue on 'chain' mode with 'hold' and 'pauseHold' with 'onComplete' segments"
## Overview

Hi,
I'm testing the "chain" mode with 5 segments, and I can't get "pause" and "pauseHold" to work.
It doesn't work with "onComplete" segments before the "pause" segment but work without "onComplete" segment before (see the second animation test below the first).
The Lottie files and the code is here :
https://www.studiobouton.fr/lottie-example/
thanks

## Consuming repo

wordpress/htm

[2022-04-20 08:59] #76 closed

[2022-04-20 09:00] alvaro-escalante commented on #76
The problem happens on wrodpress but is not really down to the `section` tag

[2022-04-21 10:02] stefanooni opened #78 "Typescript support"
## Overview
It would be great if we could get Typescript support with type declarations for each module.
...

## Type

- [x] New feature
- [ ] Changes to existing features

## Motivation

Let's support those who choose to use Typescript.
...

## Labels

- [ ] Add the `Type: Feature Request` label to this issue.

[2022-04-22 09:30] samuelOsborne commented on #78
Hi @stefanooni Thanks for bringing this to our attention, will look in to it.

[2022-04-22 11:59] samuelOsborne commented on #77
Looking in to this @EricBeaupere

[2022-04-23 15:30] EricBeaupere commented on #77
Sorry @samuelOsborne, but I don't see any link or answer in your comment ? 🤔
thank you for your time spent

[2022-04-25 15:13] samuelOsborne commented on #77
Hey @EricBeaupere I think I got it working as you want with this setup:

[code]

Basically with the hold and pauseHold transitions doesn't control how the animation plays, that's why I added them to the 'state' and I believe it works as you intended.

It's a really cool animation, please do share wherever it  goes in to production ! :))

Edit:

Spoke too soon, the animation is autoplaying too far

[2022-04-26 09:50] EricBeaupere commented on #77
Thanks @samuelOsborne,
indeed it's autoplaying with "hold" state.
I also test with "hover" state, It's work pretty fine for the first "hold" section.
But it don't work with "pausehold" 😞
https://www.studiobouton.fr/lottie-example/
I tested a lot of things but I feel stuck right now.
Maybe it can't work with the lottie-interactivity library ?
thanks for the technical support.

[2022-04-26 09:51] samuelOsborne commented on #77
@EricBeaupere Working on a bug fix to solve this! Will ping you when it's out, should be some time today

[2022-04-26 14:57] samuelOsborne commented on #77
Hi @EricBeaupere could you please update to v1.5.1 (latest) and change your config to this:

[code]

[2022-04-27 07:48] EricBeaupere commented on #77
So cooool ! It's works perfectly. 👌
Thanks a lot, you have made my day. 🦸  I will tell you when this animation goes in to production.
I see lot of fun potentials into  lottie interactivity. 🎆  I 'll continue to test and imagine animations about this.
I have a last question, is it possible to have a "cursor" interactivity into a "chain"; For example to replace the "pauseHold" into my animation, i d

[2022-04-27 08:00] samuelOsborne commented on #77
Awesome @EricBeaupere Please do!

Could you explain more about what interaction you'd like the cursor to be ? For the moment there is only sync to cursor when in chain mode:

https://lottiefiles.com/interactivity#syncExample

[2022-04-27 09:07] EricBeaupere commented on #77
Now I remember I tried this in an other animation.
I made the test for this one, below the first, but it don't work very well.
https://www.studiobouton.fr/lottie-example/
I imagine the slider pulling the crane.

[2022-04-27 12:33] samuelOsborne commented on #77
@EricBeaupere I see, that would work well. Let me have a play around and see what I can do!

[2022-05-11 08:30] EricBeaupere commented on #77
Hi @samuelOsborne , I finished the page on Lottie animations with several examples, including the one above with interactivity.
You can see it here (not a public page at the moment) :
https://www.studiobouton.fr/lottie/
On the other hand, when I scroll the page up and down without hovering over the animations, they sometimes start anyway.
each animation has a unique ID

[2022-05-11 08:35] samuelOsborne commented on #77
Absolutely love this @EricBeaupere, please do ping me when it goes public, I can share with our marketing team if you'd like.

Regarding your issue, all your players on that page have the autoplay attribute, try removing it from the ones you don't want to start playing automatically

[2022-05-11 09:22] EricBeaupere commented on #77
It's works fine now, thank you @samuelOsborne, and of course, you'll can share the link with the marketing team.
I'll keep you informed.

[2022-05-12 17:24] phpMagpie opened #84 "Code examples for usage with lottie-web"
I'm attempting to integrate lottie animations with interactivity into a gatsby project.

We can get it working with LottieFiles/lottie-player + LottieFiles/lottie-interactivity locally, but the production build of gatsby fails when we try to use LottieFiles/lottie-player (attempts to use js window object during build of production js files).

Your documentation says that lottie-interactivity works

[2022-05-12 18:24] phpMagpie commented on #84
I spend hours trying to resolve this, then minutes after raising an issue I find a solution 😄

I came across this page, which helped me get LottieFiles/lottie-interactivity working with LottieFiles/lottie-react:
https://codesandbox.io/s/ysj6p?file=/src/App.js:1848-1930

Closing the issue.

[2022-05-12 18:24] #84 closed

[2022-05-17 09:00] toddpadwick commented on #75
Hi @samuelOsborne
The animation is working for the most part, however, it sometimes doesn't trigger the animation to start on a fresh page load. I am guessing the 'ready' event is not being triggered when everything is properly loaded and ready to be initiated.  I haven't changed anything since the above code was implemented.
Any ideas what else I can try? I know we tried 'load' before and that ca

[2022-05-19 07:52] EricBeaupere commented on #77
Hi @samuelOsborne , the page is now online
https://www.studiobouton.fr/lottie/
Thank you for your technical support

[2022-05-19 08:15] #77 closed

[2022-05-20 06:34] samuelOsborne commented on #77
hey @EricBeaupere could you send me an email at:

sam@lottiefiles.com

I'd love to talk more about your process and get in touch with you, cheers!

[2022-05-31 15:46] icebearlabs commented on #18
Have the same issue and can't figure out any working solution in React.

[2022-05-31 15:58] icebearlabs commented on #58
Hey @samuelOsborne, do you have any idea what I'm doing wrong here?

[code]

It just doesn't do anything on scroll, even though I copied your code to the last bit.

Is the issue that it's a FunctionComponent? I have no idea what the problem is, it looks exactly like your example otherwise.

[2022-05-31 16:17] icebearlabs commented on #58
GOT IT! For anyone finding this and using @samuelOsborne's example and then nothing happening: Check the amount of frames your file has. For me that was the problem. The first 100 frames didn't really do much, so I didn't see any animation. Also the visibility [0.5, 1] killed a lot of the animation, so set that to [0,1] and see how it works.

[2022-06-10 17:35] drakyone opened #85 "Path property is not working using react and lottie-react"
## Overview
Path property is not working using react and lottie-react + lottie-interactivity, here's an example
https://codesandbox.io/s/busy-grass-fzxr45
Any suggestions will be highly appreciated, thanks!

[2022-06-13 06:09] samuelOsborne commented on #85
Will look in to this and get back to you @drakyone. Seems like a problem with the library.

[2022-06-16 21:49] dlogvin opened #88 "Assign animation actions on button click."
## Overview

Whenever a user clicks a button, the animation of an object would change.

## Type

- New feature

## Motivation

I'm just trying to trigger animations through buttons and not clicking on them directly.

[2022-06-20 10:29] shuheen commented on #85
Any update on this?

[2022-06-21 01:46] samuelOsborne commented on #88
Hi @dlogvin Thanks for submitting this, this is a good feature and will add it to the roadmap to implement.

Cheers

[2022-06-21 01:47] samuelOsborne commented on #85
hi @shuheen haven't had time to work on this yet. If you or @drakyone would feel comfortable enough taking a crack at it feel free and I would happily review. Will keep you posted, the earliest I can start on this is the week after next.

Cheers

[2022-06-22 20:43] drakyone commented on #85
@samuelOsborne hey, I fixed it but couldn't push branch because of the permissions, could you check this please
![Скриншот 22-06-2022 234247](https://user-images.githubusercontent.com/75342699/175132383-51751fd5-a6af-4437-bafa-c16dbdd8b8c9.jpg)
it's failed because stop method set null to player on the line above

![Скриншот 22-06-2022 234132](https://user-images.githubusercontent.com/75342699/1751

[2022-07-06 10:18] MATTiVOLTARii opened #90 "Restart Animation with "play" type"
there doesn't seem to be a way to restart a lottie in the "play" type.

In my use case, I try to make a lottie play when it is visible, to make it invisible again when I scroll up (is there a way to connect playing backwards with the "seek" type?) and when I scroll down the lottie should play again

## Type

- [ ] New feature
- [ ] Changes to existing features

## Labels

- [ ] Add the `Type: Feat

[2022-07-07 17:28] andybrowncompassion opened #91 "Starting frame number ignored, flashing between types in scroll mode"
## Overview
Use the following code on any animation:

`LottieInteractivity.create({
player:'#lottie_exploration',
mode:"scroll",
    actions: [
    {
        visibility:[0, 0.5],
        type: "stop",
        frames: [70]
    },
    {
        visibility:[0.5, 0.6],
        type: "seek",
        frames: [75, 85]
    },
    {
        visibility:[0.6, 1.0],
        type: "stop",
        frames: [95]

[2022-07-08 09:15] samuelOsborne commented on #90
@MATTiVOLTARii Can you please link your LottieInteractivity code setup?

[2022-07-08 15:41] MATTiVOLTARii commented on #90
i tried something like this:

LottieInteractivity.create({
     mode:"scroll",
     player:"#lottie_demo_prototyp",
	container:"#section",
     actions: [
        {
            visibility: [0.1, 0.3],
            type: "play",
        },{
	visibility: [0.1, 0.3],
            type: "seek",
            frames: [0, 79]
        }
     ]
 });

[2022-07-11 10:05] samuelOsborne commented on #90
@MATTiVOLTARii And a link to your animation please.

[2022-07-11 10:10] samuelOsborne commented on #91
@andybrowncompassion Could you share a url to your animation too please? Can't reproduce this problem atm.

[2022-07-11 10:21] samuelOsborne commented on #90
@MATTiVOLTARii I think your setup needs changing, can you try something like this:

[code]

[2022-07-11 10:44] samuelOsborne commented on #85
@drakyone I've added this to v1.6.1. Thanks for your help!

[2022-07-11 10:44] #85 closed

[2022-07-11 15:51] andybrowncompassion commented on #91
@samuelOsborne : animation here [https://gist.github.com/andybrowncompassion/5dd379c161943d479a3d9363dcd182f5](https://gist.github.com/andybrowncompassion/5dd379c161943d479a3d9363dcd182f5)

[2022-07-12 07:05] samuelOsborne commented on #91
@andybrowncompassion Seems to work ok for me - please check out this codepen:

https://codepen.io/Osbro/pen/abYZqwQ?editors=1010

Can't see any of the flashing problems

[2022-07-12 13:54] MATTiVOLTARii commented on #90
Here is the animation: https://di-gi.de/
You can see it in the smartphone animation about halfway down the site.

It should be like this: If the Lottie is in the viewport it should play - it does.
when scrolling up, it should play back in type "seek". Once the lottie is back in the viewport it should start playing again.

The rewind with the "seek" is not absolutely necessary. But it would be grea

[2022-07-23 02:13] #78 closed

[2022-08-07 17:33] michaelmannucci commented on #41
@robdekort  Could you help me out with this? I'm trying to get it to work, and I've done similar to you, but I get in the console

`Alpine Expression Error: lottie is not defined`

Any ideas?

[2022-08-07 17:38] robdekort commented on #41
Make sure you got this:

[code]

[2022-08-07 17:40] michaelmannucci commented on #41
That worked! I didn't need `import { create } from '@lottiefiles/lottie-interactivity';`, I just needed to add `window.lottie = lottie`

Thanks so much :)

[2022-08-07 18:01] robdekort commented on #41
Nice. Glad to be of help.

[2022-09-19 02:13] #88 closed

[2022-09-25 02:13] #50 closed

[2022-09-27 13:18] luc122c opened #94 "TypeScript Support"
## Overview

Hi There, I was just wondering if there were any plans for TypeScript support for this package on the horizon?

## Type

- [ ] New feature
- [X] Changes to existing features

## Motivation

The [lottie-player package](https://github.com/LottieFiles/lottie-player) publishes types and it's extremely helpful when configuring a player in a TypeScript project.

## Labels

- [X] Add the `Ty

[2022-10-04 14:07] toddpadwick commented on #75
Hi @samuelOsborne  still having issues with this. Often, the animation doesn't initially play on hard refresh or load, even though it is listening for the ready event.  https://www.thewriter.com/

[2022-10-09 04:17] samuelOsborne commented on #94
Hi @luc122c there is, just currently it isn't the priority.

[2022-10-12 02:13] #91 closed

[2022-10-12 02:13] #90 closed

[2022-10-18 16:48] alolalo opened #95 "dotlottie support"
## Overview

...

## Type

Would like to be able to use the lottie-player webcomponent, and the dotlottie-player webcomponent with interactivity.

## Motivation

The players have identical naming due to the file-format, and is already incorporated as an export function.

https://github.com/dotlottie/player-component

...

## Labels

- [ ] Add the `Type: Feature Request` label to this issue.

[2022-10-25 07:02] samuelOsborne commented on #95
Hi @alolalo , dotLottie support JSON and .lottie files, so do you think you still need the lottie-player component?

For interactivity with dotLottie check out this code:

https://codepen.io/Osbro/pen/VwXbwmV

[2022-11-08 21:10] fedot199614 opened #97 "Lottie - player web margin/padding is to long"
I am new in html, and working on my project a try to impliment lottie player. But have issue with margin or padding for lottie. Is the way to fix this?
![image](https://user-images.githubusercontent.com/33698132/200675796-9e5162cd-e8ee-443a-b873-96ce1cf030e6.png)
i could not set my cursor after lottie in the same row. Could only set on next row.
P.S Working on text editor

[2022-11-09 16:25] Johannes-Schiel opened #98 "Declare a simple "Module" for TypeScripe usage in Angular"
## Overview

...

## Motivation

I love this projects and use it in a few Vue projects with a realy simple update we can make it work in angular just as well :).

### The Problem

If you install the project in angular you get this error message.

[code]

We need a new file in a new directory

`types/lottie-interactivity.d.ts`

[code]

after that the types has to be defined in the package.json

[co

[2022-11-09 16:27] samuelOsborne commented on #98
Thanks for submitting this @Johannes-Schiel , I'll try and implement it asap :)

[2022-11-09 16:28] Johannes-Schiel commented on #98
thx if i can help i can easly create a pull request

[2022-11-09 19:44] fedot199614 commented on #97
fixed by div wrapper

[2022-11-09 19:44] #97 closed

[2022-11-12 10:31] Johannes-Schiel commented on #98
@samuelOsborne i dont wont to rush but do you have a plan when you have time to create a new version? If you have no time at this moment, i could create a PR so you just have to check the code ? I need that feature for my new project :D

[2022-11-15 13:39] alolalo commented on #95
Fantastic stuff! I'm happy that it's so simple, so others can teach others. Thanks!

[2022-11-27 14:38] armanogan opened #100 "Change Scroll Event to Intersection Observer"
## Overview

...

## Motivation

What is the purpose of using scroll event instead of Intersection Observer(https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API). Scroll event is working in the main thread , Intersection Observer is out of main thread and this small code reflow all the page on every scroll https://github.com/LottieFiles/lottie-interactivity/blob/7fc80bf513b6f

[2022-11-28 08:47] samuelOsborne commented on #100
Thanks for your feedback @armanogan ! I'll look in to this when we start working on the next version :)